@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');

:root {
    --header-style-bold: 'Chivo', sans-serif;
    --small-text-color: lightgray;
  }

.App {
  display: flex;
  justify-content: space-between;
}

.text-header {
  font-family: var(--header-style-bold);
}

.text-body {
  color: rgb(148, 139, 139) !important;
  font-weight: 300;
}

.products-header {
  font-size: 12px;
  border-bottom: 1px solid black;
  border-bottom-style: 2px;
  width: 23%;
  line-height: 25px;
}

.left {
  z-index: 9999;
  width: 35%;
}

.right {
  margin-left: 35px;
  padding-left: 180px;
  margin-top: 20px;
}

.brand-line {
  font-size: 13px;
  word-spacing: 2px;
  font-weight: 350 !important;
}

.price-line {
  font-size: 15px;
}

.bottom {
  width: 90%;
}
.circle {
  margin: 0.05rem;
}

.products {
  width: 600px;
  height: 450px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  white-space: nowrap;
  scrollbar-3dlight-color: blue;
  margin-left: 150px;
}

.product {
  height: 400px;
  margin-left: 40px;
  display: inline-block;
  width: 2500px;
  margin-bottom: -30px;
}

.product img {
  width: 240px;
  -webkit-user-drag: none;
}

::-webkit-scrollbar { 
  display: none; 
}