@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');

:root {
    --header-style-bold: 'Chivo', sans-serif;
    --small-text-color: lightgray;
  }

.App {
  display: flex;
  justify-content: space-between;
}

.text-header {
  font-family: var(--header-style-bold);
}

.text-body {
  color: rgb(148, 139, 139) !important;
  font-weight: 300;
}

.products-header {
  font-size: 12px;
  border-bottom: 1px solid black;
  border-bottom-style: 2px;
  width: 23%;
  line-height: 25px;
}

.left {
  z-index: 9999;
  width: 35%;
}

.right {
  margin-left: 35px;
  padding-left: 180px;
  margin-top: 20px;
}

.brand-line {
  font-size: 13px;
  word-spacing: 2px;
  font-weight: 350 !important;
}

.price-line {
  font-size: 15px;
}

.bottom {
  width: 90%;
}
.circle {
  margin: 0.05rem;
}

.products {
  width: 600px;
  height: 450px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  white-space: nowrap;
  scrollbar-3dlight-color: blue;
  margin-left: 150px;
}

.product {
  height: 400px;
  margin-left: 40px;
  display: inline-block;
  width: 2500px;
  margin-bottom: -30px;
}

.product img {
  width: 240px;
  -webkit-user-drag: none;
}

::-webkit-scrollbar { 
  display: none; 
}

.mobile-text {
  display: none;
}

@media screen and (max-width: 375px) {
  body {
    max-height: 300px;
  }
  .App {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 150%;
    z-index: 0;
  }
  .right {
    margin-top: -330px;
    margin-left: -138px;
    z-index: 20;
  }
  .full-text {
    display: none;
  }

  .mobile-text {
    display: block;
    width: 800px;
    color: white;
    font-size: 75px;
    font-weight: 900;
    margin-bottom: 150px;
  }

  .products-header {
    width: 350px;
    color: white;
    font-size: 30px;
    font-weight: 900;
    line-height: 80px;
    border-bottom: 1px white solid;
    border-bottom-width: 5px;
  }
  .product img {
    width: 450px;
    height: auto;
  }
  .products {
    width: 900px;
    height: 1200px;
    margin-left: 10%;
  }
  .text-body {
    display: none;
  }
  .bottom {
    display: flex;
    flex-direction: column;
  }
  .brand-line {
    font-size: 25px;
    font-weight: 600 !important;
    max-width: 100px;
  }
  .price-line {
    font-size: 25px;
  }
  .circle {
    width: 20px !important;
    height: 20px !important;
    margin-right: 4px;
  }
}